/*.pic1{margin-top: 120px; margin-left: 120px;}

.ROW2{margin-top: 10px;}
.ROW2 .FRow1{margin-left: 350px; margin-bottom: 20px;}
.ROW2 .FRow2{margin-left: 350px; margin-bottom: 20px;}
.ROW2 .FRow3{margin-left: 350px; margin-bottom: 20px;}
.ROW2 .FRow4{margin-left: 350px; margin-bottom: 20px;}
.ROW2 .FRow5{margin-left: 350px; margin-bottom: 20px;}

.pp{margin-top: 10px; margin-bottom: 10px;}

.DRow2{border-style: solid; border-width: 2px; margin-left: 200px; margin-right: 200px; margin-top: 10px;  margin-bottom: 10px;}
.DRow2 .FRow1{margin-top: 10px; margin-left: 290px;}
.DRow2 .FRow1 .FG1{float: left; text-align: left;}
.DRow2 .FRow2 .FG2{padding-left: 180px;}
.DRow2 .FRow2 .FG3{padding-left: 10px;}


*/